@import "../variables";

.checkboxLabel {
  color: $gray-700;

  svg {
    fill: $gray-300;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    svg path {
      fill: $gray-600;
    }
  }
}

.input {
  display: none;

  &:checked + {
    svg path {
      fill: $blue-600;
    }
  }

  &:disabled + {
    svg path {
      fill: $gray-300;
    }
  }
}
