@import "../variables";

.checkboxLabel {
  &:hover,
  &:focus {
    color: $gray-600;
    cursor: pointer;
  }
}

.svgHover {
  &:hover {
    path {
      fill: $gray-900;
    }
  }
}

.input {
  display: none;
}
