@import "../variables.scss";

.select {
  &Origin {
    display: none;
  }

  user-select: none;
  position: relative;

  &Disabled {
    color: $gray-400 !important;

    &.SelectHeader {
      &:hover {
        cursor: default;
      }

      path {
        fill: $gray-400 !important;
      }
    }
  }

  &Header {
    height: 48px;
    display: flex;
    align-items: center;
    background: $gray-100;
    border-radius: 4px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: $gray-700;
    padding: 0 16px;

    &:hover {
      cursor: pointer;
    }

    path {
      fill: $gray-700;
    }

    &Active {
      svg {
        transform: rotateX(180deg);
      }
    }
  }

  &List {
    border: 1px solid $gray-200;
    box-shadow: 0px 8px 10px rgba(82, 97, 119, 0.16);
    border-radius: 4px;
    margin-top: 8px;
    position: absolute;
    width: 100%;

    &Item {
      border: none;
      border-bottom: 1px solid $gray-200;
      background-color: $white;
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 12px;

      svg {
        margin-right: 10px;
      }

      &Default {
        padding: 0 20px;

        &Selected {
          color: $red-600;
        }
      }
    }
  }
}
